<div class="navbar navbar-static-top" ng-controller="NavbarCtrl">
  <!--<div class="container">-->
    <!--<div class="navbar-header">-->
      <!--<button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a href="/" class="navbar-brand">taxi-call</a>-->
    <!--</div>-->
    <!--<div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">-->
            <!--<a ng-href="{{item.link}}">{{item.title}}</a>-->
        <!--</li>-->
        <!--<li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>-->
      <!--</ul>-->

      <ul class="content nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    <!--</div>-->
  <!--</div>-->
</div>
