<div ng-include="'components/navbar/navbar.html'"></div>

<!--<header class="hero-unit" id="banner">-->
  <!--<div class="container">-->
    <!--<h1>'Allo, 'Allo!</h1>-->
    <!--<p class="lead">Kick-start your next web app with Angular Fullstack</p>-->
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  <!--</div>-->
<!--</header>-->

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<h1 class="page-header">Features:</h1>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <!--<form class="thing-form">-->
    <!--<label>Syncs in realtime across clients</label>-->
    <!--<p class="input-group">-->
      <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">-->
      <!--<span class="input-group-btn">-->
        <!--<button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>-->
      <!--</span>-->
    <!--</p>-->
  <!--</form>-->
<!--</div>-->

  <!--MAP-->
  <div ng-controller="MapCtrl">
    <!--<div ng-include="Template.MAP"></div>-->
    <div id="map"></div>
    <div id="menu">
      <div class="bs-example">
        <form>
          <div class="form-group">
            <!--<label for="inputEmail"></label>-->
            <input type="text" class="form-control" id="inputPlaceFrom" placeholder="From : ">
          </div>
          <div class="form-group">
            <!--<label for="inputPassword">Password</label>-->
            <input type="text" class="form-control" id="inputPlaceTo" placeholder="To : ">
          </div>
          <!--<div class="checkbox">-->
            <!--<label><input type="checkbox"> Remember me</label>-->
          <!--</div>-->
          <!--<button type="submit" class="btn btn-primary">Login</button>-->
        </form>
      </div>
    </div>
  </div>

<footer class="footer content">
  <div class="container">
      <p>Taxi Call v0.0.1 |
        <a href="#">@taxi</a>
      </p>
  </div>
</footer>
