.thing-form {
    margin: 20px 0;
}

#map {
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

#menu {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 35%;
  left: 70%;
}

.content {
  position: absolute;
}

//#banner {
//    border-bottom: none;
//    margin-top: -20px;
//}
//
//#banner h1 {
//    font-size: 60px;
//    line-height: 1;
//    letter-spacing: -1px;
//}
//
//.hero-unit {
//    position: relative;
//    padding: 30px 15px;
//    color: #F5F5F5;
//    text-align: center;
//    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
//    background: #4393B9;
//}

.footer {
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  text-align: center;
}
